<h2>Followers Users</h2>
  <% if @users.blank? %>
    <p>ユーザーはいません</p>
  <% else %>
    <table class='table'>
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan = "3"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to user_path(user) do %>
                <%= image_tag user.get_profile_image,size:'50x50' %>
              <% end %>
            </td>
            <td><%= user.name %></td>
            <td><h6>フォロー数: <%= user.followers.count %></h6></td>
            <td><h6>フォロワー数: <%= user.followeds.count %></h6></td>
            <td>
              <%= link_to "Show", user_path(user) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>